src/test/resources/test-has-ref-element-in-choice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/reference-finder-element/" targetNamespace="http://www.example.org/reference-finder-element/">

    <element name="root-element">
    	<complexType>
    		<choice>
    			<element ref="tns:sub-element" />
    		</choice>
    	</complexType>
    </element>
    
    <element name="sub-element">
    	<complexType id="simple-type-test">
    		<sequence>
    			<element type="string" name="A" />
    			<element type="string" name="B" />
    			<element type="string" name="C" />
    		</sequence>
    	</complexType>
    </element>
    
</schema>